.formWrap {
  margin-bottom: 20px;
  padding: 30px;
  /* width: 100%; */
  background-color: rgb(10, 10, 138);
  box-shadow: 1px 10px 9px 0px rgba(163, 160, 163, 0.52);
}
.fromSeacrh {
  display: flex;
  justify-content: center;
  align-items: center;
}
.seacrhPosition {
  position: relative;
}
.fromSeacrhBtn {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 2;
  border: none;
  background-color: transparent;
}
.fromSeacrhInput {
  width: 400px;
  padding: 10px 10px 10px 30px;
}
